.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-full > textarea,
.column-half,
.column-half > input,
.column-button,
#profile-picture {
  width: 100%;
}

.column-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header {
  padding: 0 1.5rem;
}

.row-two-one {
  display: flex;
  flex-direction: row;
}

.edit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half,
  .column-button,
  h1 {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  #profile-picture {
    width: 100%;
  }

  header {
    padding: 0 13.5rem;
  }

  .edit-button-container {
    justify-content: flex-start;
  }
}
