header {
  height: 60px;
  display: flex;
  align-items: center;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: white;
  background-color: rgb(59, 59, 59);
}

header > p {
  margin-left: 30px;
}

input,
textarea,
button,
#profile-picture {
  border: 3px solid black;
  border-radius: 3px;
}

button {
  padding: 5px 10px;
  box-shadow: 4px 3px black;
}

.button-new {
  padding-top: -20px;
}

textarea,
button {
  margin-top: 15px;
}

.input {
  line-height: 30px;
}

.column-half {
  margin-bottom: 20px;
}

.container {
  font-family: 'Rubik', sans-serif;
  margin-bottom: 30px;
}

.row-two-one {
  margin-bottom: inherit;
}

.row-two-one > p {
  margin-left: inherit;
}

.row-two-one,
.biography {
  margin-left: 15px;
}

.edit-button-container {
  margin-top: 10px;
  margin-left: 15px;
}

.edit-button-container > button {
  font-family: 'Lobster', cursive;
}

.entry-url {
  margin-bottom: 15px;
}

.entries-two {
  margin-top: 10px;
}
